* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --main-color: #de0000;
    --music-bg: linear-gradient(rgba(246, 12, 12, 0.51),rgba(245, 213, 3, 0.488));
    --music-h-bg: linear-gradient(rgba(246, 12, 12, 0.568),rgba(245, 213, 3, 0.574));
}

.container {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)),url(../media/rdr-john_marston.jpg);
    background-size: cover;
    background-position: fixed;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music-player {
    background: var(--music-bg);
    width: 400px;
    padding: 25px 35px;
    text-align: center;
    border-radius: 3rem;
    transition: 0.4s ease-in-out;
}
.music-player:hover {
    transform: scale(1.03);
    background: var(--music-h-bg);
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    cursor: pointer;
}
nav .circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: var(--main-color);
    box-shadow: 0 5px 10px rgba(255,26,26,0.22);
    transition: 0.4s ease-in-out;
}
nav .circle:hover {
    transform: scale(1.1);
    background: #d8d8d8cf;
}

.song-img {
    width: 220px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 10px 60px rgba(255,26,26,0.22);
}

.music-player h1 {
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
}
.music-player p {
    font-size: 15px;
    color: #fff;
    margin-top: 10px;
}

#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: var(--main-color);
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}
#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--main-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 7px solid var(--main-color);
    box-shadow: 0 5px 5px rgba(255,26,26,0.22);
}
#progress::-webkit-slider-thumb:hover {
    border: 7px solid #fff;
}
.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}
.controls div {
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--main-color);
    box-shadow: 0 10px 20px rgba(255,26,26,0.22);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.controls div:hover {
    transform: scale(1.1);
    background: #d8d8d8cf;
}
.controls div:nth-child(2) {
    transform: scale(1.5);
    background: var(--main-color);
    color: #fff;
}
.controls .play:hover {
    background: #8b0000;
}